<ion-content [fullscreen]="true">
  <button class="banck-button" (click)="goBack()">
    <ion-img class="banck" src="assets/imagenes_regis/Go_Back.png"></ion-img>
  </button>

  <button class="banck-button_2" (click)="gohist()">
    <ion-img class="banck" src="assets/Imagenes_camp/History.png"></ion-img>
  </button>


  <button class="espada" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-1.png"></ion-img>
  </button>
  <button class="daga" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-2.png"></ion-img>
  </button>
  <button class="collar" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-3.png"></ion-img>
  </button>
  <button class="anillo" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-4.png"></ion-img>
  </button>

  <button class="casco" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-5.png"></ion-img>
  </button>
  <button class="mani" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-6.png"></ion-img>
  </button>
  <button class="mani-2" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-7.png"></ion-img>
  </button>
  <button class="tora" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-8.png"></ion-img>
  </button>
  <button class="man-d" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-9.png"></ion-img>
  </button>
  <button class="man-i" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-10.png"></ion-img>
  </button>
  <button class="panta" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-11.png"></ion-img>
  </button>
  <button class="bot" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-12.png"></ion-img>
  </button>

  <button class="escu" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-13.png"></ion-img>
  </button>
  <button class="bol" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-14.png"></ion-img>
  </button>
  <button class="collar-2" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-3.png"></ion-img>
  </button>
  <button class="anillo-2" (click)="gohist()">
    <ion-img  src="assets/Personaje/inve-4.png"></ion-img>
  </button>

  <ion-img class="lin" src="assets/Personaje/Line.png"></ion-img> 

  <ion-img class="Est" (click)="Esta()" src="assets/Personaje/Estadisticas-2.png"></ion-img> 

  <button class="habi" (click)="habi()">
    <ion-img src="assets/Personaje/Habilidades.png"></ion-img> 
  </button>

  <button class="inv"  >
    <ion-img  src="assets/Personaje/Inventario-2.png"></ion-img>
  </button>

    <ion-grid class="stat-grid">
      <div class="div-list">
        <ion-item class="lit_player">
          <ion-col size="5" push="0">NOMBRE </ion-col>
          <ion-col size="2.3" push="0">RAR</ion-col>
          <ion-col size="2.5" push="0">CANT </ion-col> 
          <ion-col pull-lg="3">PESO</ion-col>        
        </ion-item>
      </div>
      <div class="div-list-2">
        <ion-item class="lit_player-2">
          <ion-col size="5" push="0">VENDAJES </ion-col>
          <ion-col size="2.3" push="0">C</ion-col>
          <ion-col size="2.5" push="0">5 </ion-col> 
          <ion-col pull-lg="3">300G</ion-col>        
        </ion-item>
        
        <ion-item class="lit_player-2">
          <ion-col size="5" push="0">BOTELLA DE ALCOHOL</ion-col>
          <ion-col size="2.3" push="0">D</ion-col>
          <ion-col size="2.5" push="0">2 </ion-col> 
          <ion-col pull-lg="3">1L</ion-col>        
        </ion-item>

        <ion-item class="lit_player-2">
          <ion-col size="5" push="0">PORCION DE CURACION</ion-col>
          <ion-col size="2.3" push="0">D</ion-col>
          <ion-col size="2.5" push="0">5 </ion-col> 
          <ion-col pull-lg="3">1L</ion-col>        
        </ion-item>

        <ion-item class="lit_player-2">
          <ion-col size="5" push="0">PORCION DE MANA</ion-col>
          <ion-col size="2.3" push="0">D</ion-col>
          <ion-col size="2.5" push="0">5 </ion-col> 
          <ion-col pull-lg="3">1L</ion-col>        
        </ion-item>

        <ion-item class="lit_player-2">
          <ion-col size="5" push="0">NAVAJA</ion-col>
          <ion-col size="2.3" push="0">B</ion-col>
          <ion-col size="2.5" push="0">1</ion-col> 
          <ion-col pull-lg="3">200 G</ion-col>        
        </ion-item>

        <ion-item class="lit_player-2">
          <ion-col size="5" push="0">PAN</ion-col>
          <ion-col size="2.3" push="0">D</ion-col>
          <ion-col size="2.5" push="0">5</ion-col> 
          <ion-col pull-lg="3">500G</ion-col>        
        </ion-item>
      </div>

      <button class="Add"  >
        <ion-img  src="assets/Personaje/Add_Item.png"></ion-img>
      </button>

      <label for="" class="peso">TOTAL: 5.1KG</label>
    </ion-grid>
 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="campa()">
        <ion-img src="assets/Personaje/Campaing_Icon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons class="center">
      <ion-button>
        <ion-img src="assets/Personaje/Chacter_Icon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="Confg()">
        <ion-img src="assets/Imagenes_camp/Setting_Icon.png"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
