<!-- <ion-content [fullscreen]="true" style="padding: 0; position: relative;">
  <button class="banck-button" (click)="goBack()">
    <ion-img class="banck" src="assets/imagenes_regis/Go_Back.png"></ion-img>
  </button>
  <ion-img class="imagen-fondo" src="assets/imagenes_recu/Fondo.png"></ion-img>
  <ion-img class="remini_letra" src="assets/imagenes_recu/VERIFICACION_DE_IDENTIDAD.png"></ion-img>

  <ion-label class="titulo-3-h2">Ingresa el correo electrónico enlazado a la aplicación</ion-label>
  <ion-input [(ngModel)]="email" class="rounded-input" placeholder="Correo electrónico"></ion-input>

  <ion-button class="boton-personalizado" shape="round" (click)="CamCont()">
    <ion-label class="titulo-1-h2" slot="start">Confirmar</ion-label>
  </ion-button>
</ion-content>


 -->