.imagen-fondo {
    position: relative; /* Asegúrate de que esta imagen se mantenga en su posición normal */
}
.remini_letra {
    position: absolute; /* Posiciona la imagen de forma absoluta */
    top: 45%; /* Ajusta la posición vertical según sea necesario */
    left: 50%; /* Ajusta la posición horizontal según sea necesario */
    transform: translate(-50%, -190%); /* Centra la imagen en el medio */
    width: 100%; /* Ajusta el tamaño de la imagen superpuesta */
    max-width: 240px; /* Limita el tamaño máximo */
}
.banck-button {
    background: none;
    border: none;
    padding: 0;
    position: absolute; /* Posiciona el botón de forma absoluta */
    top: 20px; /* Ajusta la posición superior */
    left: 20px; /* Ajusta la posición a la izquierda */
    z-index: 10; /* Asegúrate de que el botón esté por encima de otros elementos */
}

.banck {
    width: 40px; /* Ajusta el tamaño de la imagen */
    height: 40px;
    object-fit: contain;
}
.foto-button {
    background: none;
    border: none;
    padding: 0;
    position: absolute; /* Posiciona el botón de forma absoluta */
    top: 20px; /* Ajusta la posición superior */
    left: 20px; /* Ajusta la posición a la izquierda */
    z-index: 10; /* Asegúrate de que el botón esté por encima de otros elementos */
    transform: translate(13%, 160%); /* Centra la imagen en el medio */
}

.foto {
    width: 69vw; 
    height: 20vh;
    object-fit: contain!important;
}
.rounded-input {
    --background: #ffffff;
    --border-radius: 30px;
    --padding-start: 20px;
    --padding-end: 20px;
    --border-color: #ffffff;
    --border-width: 2px;
    text-align: center;
    color: #000000;
    font-weight: bold;

    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    width: 69vw; 
    height: 7vh;
    transform: translate(20%, 30%);
    
    font-size: 19px;  /* Ajusta el tamaño de la letra aquí */
}



/* Estilos para el segundo input */
.rounded-input-2 {
    --background: #ffffff; /* Fondo blanco */
    --border-radius: 30px; /* Bordes redondeados */
    --padding-start: 20px; /* Espaciado interno */
    --padding-end: 20px;
    --border-color: #ffffff; /* Borde blanco o transparente */
    --border-width: 2px; /* Ajustar si se desea más grosor */
    text-align: center; /* Centrar el texto */
    color: #000000; /* Color del texto */
    font-weight: bold; /* Hacer el texto más grueso */

    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    width: 69vw; 
    height: 7vh;
    transform: translate(20%, 60%);
    font-size: 19px;  /* Ajusta el tamaño de la letra aquí */
}

.titulo-3-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Ajusta el tamaño según sea necesario */
    font-weight: bold; /* Puedes cambiar esto si deseas un peso diferente */
    color: #ffffff; /* Cambia el color del texto según sea necesario */
    transform: translate(0%, 270%);
  }

.boton-personalizado {
    --background: #3D98EC; /* Color de fondo personalizado */
    --color: #FFFFFF; /* Color del texto (cámbialo según sea necesario) */
    border-radius: 50px; /* Opcional: Puedes ajustar el estilo del botón */
    font-size: 20px; /* Ajusta el tamaño según sea necesario */
    width: 69vw; /* Para pantallas más grandes como tablets o PC */
    height: 7vh;
  
    box-sizing: border-box;
   
    transform: translate(20%, 120%);/* x,y */
    font-weight: bold; /* negrita */
   

  }
    .center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ion-content {
    height: calc(100% - 66px); /* Asegura que haya espacio para el footer */
  }
  